body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
 .herosection{
    position: relative;
  height: 100vh;
  overflow: hidden; 
} 

 .sectionPourquoi{
    position: relative;
  height: 100vh;
  overflow: hidden; 
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
} 
.sectionPourquoi h2{
   
    font-size: 40px;
    font-weight: 900;
}

.features{
    display: flex;
    gap: 50px;
}

.feature {
  /* background-color: rgb(203, 113, 113); */
  /* border: 1px solid black; */
  padding: 20px;
  border-radius: 0;
  /* width: 100px;
  height: 300px; */
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  /* transition: transform 0.3s ease; */
  text-align: center;
}

.feature img{
    width: 290px; 
    height: 225px;
    border: 1px solid black;

}

.feature h3{
    font-size: 22px;
}

.feature p {
    
color: #4a4a4a;
font-size: 16px;
font-weight: 500;

}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0;
}

.herosection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 5;
    color: white;
    /* border:4px solid red; */
}

.logo{
    width: 150px;
    height: 140px;
}

.menulist{
    display: flex;
    list-style: none;
    gap: 40px;
}
a{
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 18px;
    
}

 .burger {
    display: none;
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 4;
    flex-direction: column;
    cursor: pointer;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  font-family: "Open Sans Hebrew Condensed", sans-serif;
  /* top: 20%; */
  
}

.content h3{
    font-size:18px;
    font-weight: 700;
     line-height: 25px;
}

.content h1{
    margin-top: 0;
    font-size:60px;
    font-weight: 900;
    line-height: 60px;
}

.content p{
    font-size:16px;
    font-weight: 500;
}

.btn-fresh {
  background-color: #e63946; 
  color: white;
  font-size: 17px;
  padding: 17px 43px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px #fc5454;
  margin-top: 50px;
}

.btn-fresh:hover {
  background-color: #f75b5b;
  box-shadow: 0 6px 14px #fc5454;
  transform: translateY(-7px);
}



.gallerie{
    background-image: url("images/Design\ sans\ titre.jpg");
    border-radius: 50px;
    min-height: 100vh;
}




@media screen and (max-width: 900px) {
  .menulist {
    position: fixed;
    top: -17px;
    right: -300px; 
    width: 250px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    transition: right 1s ease;
    z-index: 9;
    /* display: none; */
  }
  

  .menulist.active {
    right: 0;
    /* display:flex; */
  
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }
  

  .burger {
    display: flex;
    z-index: 10;
    width: 40px;
    height: 40px;
  } 
}


