body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
 .herosection{
    position: relative;
  height: 100vh;
  overflow: hidden; 
} 

 .sectionPourquoi{
    position: relative;
  height: 100vh;
  overflow: hidden; 
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
} 
.sectionPourquoi h2{
   
    font-size: 40px;
    font-weight: 900;
}

.features{
    display: flex;
    gap: 50px;
}

.feature {
  /* background-color: rgb(203, 113, 113); */
  /* border: 1px solid black; */
  padding: 20px;
  border-radius: 0;
  /* width: 100px;
  height: 300px; */
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  /* transition: transform 0.3s ease; */
  text-align: center;
}

.feature img{
    width: 290px; 
    height: 225px;
    border: 1px solid black;

}

.feature h3{
    font-size: 22px;
}

.feature p {
    
color: #4a4a4a;
font-size: 16px;
font-weight: 500;

}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0;
}

.herosection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 5;
    color: white;
    /* background-image: url("images/Design\ sans\ titre.jpg"); */
    
    /* border:4px solid red; */
}

.headercontact{
    background-image: url("images/Capture.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.headercontact h1{
    text-align: center;
     font-size:60px;
    font-weight: 900;
    color: white;
}

.logo{
    width: 150px;
    height: 140px;
}

.menulist{
    display: flex;
    list-style: none;
    gap: 40px;
}
a{
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 18px;
    
}

 .burger {
    display: none;
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 4;
    flex-direction: column;
    cursor: pointer;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  font-family: "Open Sans Hebrew Condensed", sans-serif;
  /* top: 20%; */
  
}

.content h3{
    font-size:18px;
    font-weight: 700;
     line-height: 25px;
}

.content h1{
    margin-top: 0;
    font-size:60px;
    font-weight: 900;
    line-height: 60px;
}

.content p{
    font-size:16px;
    font-weight: 500;
}

.btn-fresh {
  background-color: #e63946; 
  color: white;
  font-size: 17px;
  padding: 17px 43px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px #fc5454;
  margin-top: 50px;
}

.btn-fresh:hover {
  background-color: #f75b5b;
  box-shadow: 0 6px 14px #fc5454;
  transform: translateY(-7px);
}



.gallerie{
    background-image: url("images/Design\ sans\ titre.jpg");
    border-radius: 50px;
    min-height: 100vh;
}

.mapcontact {
    display: flex;      
    flex-direction: row;   
    gap: 20px;              
    justify-content: center;
    align-items: flex-start;
    padding: 50px 20px;
    flex-wrap: wrap;
    /* border: 7px solid red; */
    background-color: #c6e292;
    color: #3a4328;
}

.contact{
    /* border: 7px solid rgb(82, 28, 28); */
   
    gap: 20px;
     background:  #defaa5;
      border-radius: 10px;
      /* padding: 20px 30px; */
      box-shadow: 0 6px 18px rgba(15, 23, 42, 0.2);
      /* width: 350px; */
      /* text-align: center; */
      animation: fadeIn 0.3s ease;

}

.contact, .map {
    flex: 1; 
    min-width: 300px;   
    /* border: 7px solid red; */
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#statusMessage {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.1em;
    transition: all 0.3s ease;
    padding: 20px;
}

.map iframe {
    width: 100%;  
    height: 450px;
    /* border: 5px solid red; */
    border-radius: 12px;
}
label{
    display: grid;
}
input, textarea{
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    width: 400px;
    max-width: 100%;
}
textarea{
    max-height: 100%;
    height: 150px;
}

.btn{
  background-color: #24582a; 
  color: white;
  font-size: 17px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px #5dd56b;
  margin: 15px;
}

.btn:hover {
  background-color: #3a8a43;
  box-shadow: 0 6px 14px #84ec90;
  transform: translateY(-7px);
}




@media screen and (max-width: 900px) {
  .menulist {
    position: fixed;
    top: -17px;
    right: -300px; 
    width: 250px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    transition: right 1s ease;
    z-index: 9;
    /* display: none; */
  }
  

  .menulist.active {
    right: 0;
    /* display:flex; */
  
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }
  

  .burger {
    display: flex;
    z-index: 10;
    width: 40px;
    height: 40px;
  } 
}


